services:
  api:
    build: .
    container_name: todos
    ports:
      - '8080:8080'
    networks:
      - api
      - db
    environment:
        DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - db

  db:
    image: postgres:17
    container_name: postgres
    ports:
      - '5432:5432'
    networks:
      - db
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_DB: ${POSTGRES_DB}

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - '9090:9090'
    networks:
      - api
    volumes:
      - prometheus:/prometheus
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - '3000:3000'
    networks:
      - api
    volumes:
      - grafana:/var/lib/grafana
    environment:
      GF_SECURITY_ADMIN_PASSWORD: ${GF_SECURITY_ADMIN_PASSWORD}
      GF_DATASOURCE_NAME: ${GF_DATASOURCE_NAME}
      GF_DATASOURCE_TYPE: ${GF_DATASOURCE_TYPE}
      GF_DATASOURCE_URL: ${GF_DATASOURCE_URL}
    depends_on:
      - prometheus

networks:
  api:
    driver: bridge
  db:
    driver: bridge

volumes:
  postgres:
    driver: local
  prometheus:
    driver: local
  grafana:
    driver: local
